Repository fredyGabriel/crackseg: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-coverage-for-new-files, test-quality-check

.pre-commit-config.yaml:

# Pre-commit configuration for CrackSeg project
# Ensures code quality and coverage standards before commits

repos:
  # Standard code formatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=88]

  # Python linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.287
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Type checking with basedpyright
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.324
    hooks:
      - id: pyright

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Coverage validation hook
      - id: coverage-check
        name: Coverage Check
        entry: python scripts/validate_coverage.py --fail-under=80 --check-only --no-reports
        language: system
        pass_filenames: false
        stages: [commit, push]
        verbose: true

      # Ensure tests exist for new modules
      - id: test-coverage-for-new-files
        name: Test Coverage for New Files
        entry: python scripts/check_test_files.py
        language: system
        files: '^src/.*\.py$'
        exclude: '^src/.*/__init__\.py$'

      # Validate test quality
      - id: test-quality-check
        name: Test Quality Check
        entry: python scripts/validate_test_quality.py
        language: system
        files: '^tests/.*\.py$'
        pass_filenames: true

# Global settings
default_language_version:
  python: python3.11

# Configure which hooks run on which stages
default_stages: [commit]

# Exclude certain files from all hooks
exclude: |
  (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.ruff_cache/.*|
    htmlcov/.*|
    \.coverage|
    coverage\..*|
    outputs/.*|
    old_stuff/.*|
    MagicMock/.*
  )$

docs: Update WORKFLOW_TRAINING.md with comprehensive improvements
  docs/guides/WORKFLOW_TRAINING.md
Due: none

docs: Add documentation checklist and improve core module docstrings
  docs/reports/documentation_checklist.md
  src/data/dataset.py
  src/main.py
Due: test-coverage-for-new-files

Bug fixes
  configs/basic_verification.yaml
  configs/config.yaml
  configs/data/dataloader/default.yaml
  configs/data/default.yaml
  configs/model/default.yaml
  configs/training/default.yaml
  configs/training/loss/bce_dice.yaml
  configs/training/trainer.yaml
  docs/reports/documentation_checklist.md
  run.py
  scripts/utils/update_test_imports.py
  scripts/utils/verify_setup.py
  src/data/dataloader.py
  src/data/factory.py
  src/data/transforms.py
  src/data/validation.py
  src/model/architectures/swinv2_cnn_aspp_unet.py
  src/model/core/unet.py
  src/model/decoder/cnn_decoder.py
  src/model/encoder/swin_transformer_encoder.py
Due: test-coverage-for-new-files

docs: keep archive/ for historical reference
  README.md
  archive/README.md
  archive/legacy_docs/README.md
  archive/legacy_docs/development-guide.mdc
  archive/legacy_docs/project-structure.mdc
  archive/legacy_docs/structural-guide.mdc
  docs/guides/CLEAN_INSTALLATION.md
  docs/reports/README.md
  docs/reports/legacy_folders_reorganization_summary.md
  docs/reports/organization_summary.md
  docs/reports/reorganization_summary.md
  docs/reports/scripts/README.md
  docs/reports/scripts/example_prd.txt
  docs/reports/scripts/hydra_examples.txt
  scripts/test_clean_installation.py
  scripts/utils/organize_reports_plan.md
  scripts/utils/reorganize_legacy_folders_plan.md
  tests/fixtures/mocks/README.md
  tests/fixtures/mocks/experiment_manager/mock.experiment_manager.experiment_manager.experiment_dir/2399502175984/metrics/summary.json
  tests/fixtures/mocks/experiment_manager/mock.experiment_manager.experiment_manager.experiment_dir/2399503130960/metrics/validation_metrics.jsonl
  tests/fixtures/mocks/experiment_manager/mock.experiment_manager.experiment_manager.experiment_dir/2399503481312/metrics/complete_summary.json
  tests/fixtures/mocks/experiment_manager/mock.experiment_manager.experiment_manager.experiment_dir/2399503481312/metrics/summary.json
  tests/fixtures/mocks/experiment_manager/mock.experiment_manager.experiment_manager.experiment_dir/2789862072848/metrics/summary.json
  tests/fixtures/mocks/experiment_manager/mock.experiment_manager.experiment_manager.experiment_dir/2789862548272/metrics/complete_summary.json
  tests/fixtures/mocks/experiment_manager/mock.experiment_manager.experiment_manager.experiment_dir/2789862548272/metrics/summary.json
  tests/fixtures/mocks/experiment_manager/mock.experiment_manager.experiment_manager.experiment_dir/2789864714032/metrics/validation_metrics.jsonl
Due: none

Cursor rules updated
  .cursorrules
  .gitignore
  README.md
  docs/guides/CONTRIBUTING.md
  docs/guides/WORKFLOW_TRAINING.md
  docs/reports/project_tree.md
  scripts/examples/factory_registry_integration.py
  scripts/experiments/benchmark_aspp.py
  scripts/experiments/hybrid_registry_demo.py
  scripts/experiments/test_pipeline_e2e.py
  scripts/utils/audit_rules_checklist.py
  scripts/utils/example_override.py
  scripts/utils/generate_project_tree.py
  scripts/utils/test_suite_refinement/categorize_tests_status.py
  scripts/utils/test_suite_refinement/generate_executive_report.py
  scripts/utils/test_suite_refinement/generate_test_inventory.py
  scripts/utils/test_suite_refinement/report_environment_issues.py
  scripts/utils/test_suite_refinement/report_manual_intervention.py
  scripts/utils/test_suite_refinement/report_slow_tests.py
  scripts/utils/test_suite_refinement/tag_test_priority.py
  scripts/utils/test_suite_refinement/update_test_inventory_status.py
  src/data/README.md
  src/model/README.md
  src/utils/README.md
Due: none

test(gui): align file upload tests with real validation behavior and error reporting
  .cursorrules
  .markdownlint.json
  docs/guides/SYSTEM_DEPENDENCIES.md
  docs/reports/analysis/consolidation-implementation-summary.md
  docs/reports/analysis/duplication-mapping.md
  docs/reports/analysis/rule-consolidation-report.md
  docs/reports/analysis/rule-system-analysis.md
  gui_test_results.txt
  gui_unit_test_results.txt
  scripts/gui/components/__init__.py
  scripts/gui/components/config_editor/editor_core.py
  scripts/gui/components/config_editor/validation_panel.py
  scripts/gui/components/error_console.py
  scripts/gui/components/file_upload_component.py
  scripts/gui/docs/error_messaging_system.md
  scripts/gui/docs/file_upload_guide.md
  scripts/gui/pages/advanced_config_page.py
  scripts/gui/pages/architecture_page.py
  scripts/gui/pages/config_page.py
  scripts/gui/utils/architecture_viewer.py
  scripts/gui/utils/config/__init__.py
  scripts/gui/utils/config/io.py
  scripts/gui/utils/config/validation/error_categorizer.py
  scripts/gui/utils/session_state.py
  tests/integration/gui/test_config_editor_component.py
  tests/unit/gui/test_error_console.py
  tests/unit/gui/test_error_console_simple.py
  tests/unit/gui/test_file_upload.py
Due: test-quality-check

feat(gui): implement enhanced error messaging system
  scripts/gui/components/loading_spinner.py
  scripts/gui/components/progress_bar.py
  scripts/gui/utils/error_state.py
  tests/gui/test_error_state.py
  tests/gui/test_loading_spinner.py
  tests/gui/test_progress_bar.py
Due: test-quality-check

feat: implement performance optimization system - subtask 10.4
  scripts/gui/components/loading_spinner_optimized.py
  scripts/gui/components/progress_bar_optimized.py
  scripts/gui/utils/performance_optimizer.py
  tests/gui/test_performance_optimization.py
Due: test-quality-check

feat: implement auto-save system - subtask 10.5
  scripts/gui/components/auto_save_manager.py
  scripts/gui/utils/auto_save.py
  tests/gui/test_auto_save.py
Due: test-quality-check

feat(ci): Complete CI/CD and quality automation setup
  .github/workflows/gui-integration-tests.yml
  .github/workflows/quality-gates.yml
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  configs/training/README.md
  docs/guides/CLEAN_INSTALLATION.md
  docs/guides/TECHNICAL_ARCHITECTURE.md
  docs/guides/TROUBLESHOOTING.md
  docs/guides/USAGE.md
  docs/guides/WORKFLOW_TRAINING.md
  docs/reports/project_tree.md
  docs/tutorials/01_basic_training.md
  docs/tutorials/02_custom_experiment.md
  docs/tutorials/03_extending_project.md
  environment.yml
  scripts/gui/components/confirmation_dialog.py
  scripts/gui/components/confirmation_renderer.py
  scripts/gui/components/confirmation_utils.py
  scripts/gui/components/device_selector.py
  scripts/gui/components/loading_spinner_optimized.py
  scripts/gui/components/progress_bar_optimized.py
  scripts/gui/pages/page_train.py
  scripts/gui/utils/auto_save.py
  tests/gui/test_confirmation_dialog.py
  tests/gui/test_device_selector.py
  tests/gui/test_performance_optimization.py
Due: test-quality-check

fix: resolve linting errors in page_train.py and add missing components
  scripts/gui/pages/page_train.py
  scripts/gui/services/gpu_monitor.py
  scripts/gui/utils/training_state.py
Due: none

style: apply black formatting to test files
  tests/e2e/test_workflow_regression_4_4.py
  tests/e2e/tests/test_happy_path.py
  tests/e2e/tests/test_performance_integration.py
  tests/integration/gui/automation/test_resource_cleanup_validation.py
  tests/integration/gui/concurrent_tests/test_system_stability.py
  tests/integration/training/test_trainer_integration.py
  tests/unit/utils/monitoring/test_monitoring_manager.py
  tests/unit/utils/monitoring/test_retention.py
Due: test-quality-check

fix(tests): resolve type annotation errors in pytest_markers.py
  tests/e2e/config/pytest_markers.py
Due: test-quality-check

refactor: modularize SwinTransformerEncoder into specialized components
  src/crackseg/model/encoder/swin/__init__.py
  src/crackseg/model/encoder/swin/config.py
  src/crackseg/model/encoder/swin/core.py
  src/crackseg/model/encoder/swin/initialization.py
  src/crackseg/model/encoder/swin/preprocessing.py
  src/crackseg/model/encoder/swin/transfer_learning.py
  src/crackseg/model/encoder/swin_transformer_encoder.py
  src/crackseg/model/encoder/swin_v2_adapter.py
Due: test-coverage-for-new-files

refactor: modularize visualization system and reduce file sizes
  src/crackseg/model/common/spatial_utils.py
  src/crackseg/model/common/utils.py
  src/crackseg/model/common/visualization/__init__.py
  src/crackseg/model/common/visualization/graphviz_renderer.py
  src/crackseg/model/common/visualization/main.py
  src/crackseg/model/common/visualization/matplotlib/components.py
  src/crackseg/model/common/visualization/matplotlib/connections.py
  src/crackseg/model/common/visualization/matplotlib/utils.py
  src/crackseg/model/common/visualization/matplotlib_renderer.py
Due: test-coverage-for-new-files

fix: resolve base.yaml configuration issues and update workflow guide
  configs/base.yaml
  docs/guides/WORKFLOW_TRAINING.md
Due: none

fix: correct tutorial 02 DeepLabV3+ references to use available components
  configs/experiments/tutorial_02/deeplabv3_experiment.yaml
  configs/experiments/tutorial_02/swin_unet_experiment.yaml
  docs/tutorials/cli/02_custom_experiment_cli.md
Due: none

feat: add FocalDiceLoss for crack segmentation optimization
  configs/experiments/tutorial_02/focal_loss_experiment.yaml
  configs/experiments/tutorial_02/high_lr_experiment.yaml
  configs/experiments/tutorial_02/low_lr_experiment.yaml
  configs/experiments/tutorial_02/swin_unet_experiment.yaml
  configs/training/loss/focal_dice.yaml
  data/README.md
  docs/guides/focal_dice_loss_usage.md
  docs/reports/crackseg_paper.md
  docs/reports/crackseg_paper_es.md
  docs/reports/project_tree.md
  docs/tutorials/cli/02_custom_experiment_cli.md
  src/crackseg/training/losses/__init__.py
  src/crackseg/training/losses/focal_dice_loss.py
  tests/unit/training/losses/test_focal_dice_loss.py
Due: test-coverage-for-new-files, test-quality-check

docs: reorganize guides directory with improved structure and navigation
  docs/guides/README.md
  docs/guides/architecture/README.md
  docs/guides/architecture/TECHNICAL_ARCHITECTURE.md
  docs/guides/architecture/architectural_decisions.md
  docs/guides/cicd/README.md
  docs/guides/cicd/ci_cd_integration_guide.md
  docs/guides/cicd/ci_cd_testing_integration.md
  docs/guides/development/CONTRIBUTING.md
  docs/guides/development/README.md
  docs/guides/development/SYSTEM_DEPENDENCIES.md
  docs/guides/development/gui_development_guidelines.md
  docs/guides/monitoring/README.md
  docs/guides/monitoring/continuous_coverage_monitoring_guide.md
  docs/guides/quality/README.md
  docs/guides/quality/comprehensive_integration_test_reporting_guide.md
  docs/guides/quality/gui_testing_best_practices.md
  docs/guides/quality/gui_testing_implementation_checklist.md
  docs/guides/quality/quality_gates_guide.md
  docs/guides/quality/test_maintenance_procedures.md
  docs/guides/specifications/README.md
  docs/guides/specifications/checkpoint_format_specification.md
  docs/guides/specifications/configuration_storage_specification.md
  docs/guides/specifications/performance_benchmarking_system.md
  docs/guides/troubleshooting/README.md
  docs/guides/troubleshooting/TROUBLESHOOTING.md
  docs/guides/usage/README.md
  docs/guides/usage/USAGE.md
  docs/guides/usage/focal_dice_loss_usage.md
  docs/guides/usage/loss_registry_usage.md
  docs/guides/workflows/CLEAN_INSTALLATION.md
  docs/guides/workflows/README.md
  docs/guides/workflows/WORKFLOW_TRAINING.md
  docs/reports/project_tree.md
Due: none

feat: Complete documentation import migration and finalize Task 6.12
  .ruff.toml
  pyrightconfig.json
Due: none

docs: Add final documentation migration report
  docs/reports/final_documentation_migration_report.md
Due: none

refactor: reorganize gui/utils/process into modular subpackages
  docs/plans/refactoring_plan_large_files.md
  docs/reports/project_tree.md
  gui/utils/process/__init__.py
  gui/utils/process/cleanup/__init__.py
  gui/utils/process/cleanup/abort_system.py
  gui/utils/process/cleanup/process_cleanup.py
  gui/utils/process/core/__init__.py
  gui/utils/process/core/core.py
  gui/utils/process/core/error_handling.py
  gui/utils/process/core/manager_backup_original.py
  gui/utils/process/core/process_manager.py
  gui/utils/process/core/states.py
  gui/utils/process/logging/__init__.py
  gui/utils/process/logging/log_integration.py
  gui/utils/process/logging/log_streamer.py
  gui/utils/process/manager_backup.py
  gui/utils/process/monitoring/__init__.py
  gui/utils/process/monitoring/monitoring.py
  gui/utils/process/monitoring/process_monitor.py
  gui/utils/process/overrides/__init__.py
  gui/utils/process/overrides/override_handler.py
  gui/utils/process/overrides/override_parser.py
  src/crackseg/data/base_dataset.py
  src/crackseg/data/dataset.py
  src/crackseg/data/dataset_factory.py
  src/crackseg/data/dataset_utils.py
  src/crackseg/utils/deployment/alert_handlers.py
  src/crackseg/utils/deployment/deployment_manager.py
  src/crackseg/utils/deployment/orchestration.py
  src/crackseg/utils/deployment/performance_monitor.py
  src/main.py
  src/training_pipeline/__init__.py
  src/training_pipeline/checkpoint_manager.py
  src/training_pipeline/data_loading.py
  src/training_pipeline/environment_setup.py
  src/training_pipeline/model_creation.py
  src/training_pipeline/training_setup.py
Due: test-coverage-for-new-files
